.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

 
.checkoutProduct__info > button {
    background-color: white;
    width: 75px;
    color: rgb(205, 0, 103);
    border: 1px solid rgb(205, 0, 103);
    font-size: 15px;
    border-radius: 2px;
}

.checkoutProduct__info > button:hover {
    background-color: rgb(205, 0, 103);
    border: none;
    color: white;
}


.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
    padding-bottom: 50px;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}