.footer{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
}
.footer > img {
    width: 100%;
    max-height: 550px;
    z-index: -1; 
    margin-bottom: -570px;
    padding-top: 100px;
}

.footer_image_text{
    display: flex;
    flex-direction: column;
}



.footer_h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 30px;
    color: black
    
} 

.footer_text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    list-style: none
}

.footer_text > p > strong {
    color: rgb(123, 94, 40);
    font-size: 30px;

}


.footer_text > p > li {
    color: black;
    padding-top: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.footer_text > p > li:hover{
    text-decoration: underline;
}

.footer_icon_text{
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: black
    
}

