/* .home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;

} */

.home__row{
   padding: 25px;
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
.home_image{
    width: 100%;
    z-index: -1; 
    margin-bottom: -10px;
    padding-bottom: 250px;

}
.home__container_H1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: sticky;
    top: 50px;
    z-index: 100;
    background-color: white;
}


.home_image_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -10%);
    font-size: 150px;
    color: white;
    font-family:'Raleway', sans-serif;
    font-weight: 100;
    font-style: italic;

    
}

.home_image_text_h5 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.home_image_text_h5 > h5 {
    padding-bottom: 20px;
}



.home_image_text_h5_button {
    width: 200px;
    background-color: black;
    color: white;

}

